@import "../shared/common.css";

.options__label {
    width: 370px;
    display: flex;
    margin: auto;
}

.options__label-text {
    width: 130px;
    line-height: 22px;
}

.options__input {
    width: 240px;
}
